
<div class="container"> 
<section class="about_us">
    <h1>Quiénes Somos</h1>
    <article>
   <figure>      
    <img class="images"  src="./images/Avatar1.jpg" alt="Foto Alejandra">
    <figcaption>Alejandra Sánchez</figcaption>
    </figure>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
    <li><i class="fa-brands fa-twitter"></i></li>
    <li><i class="fa-brands fa-linkedin-in"></i></li>
    <li><i class="fa-brands fa-github-alt"></i></li>
    <li><i class="fa-solid fa-envelope"></i></li>
    </ul>
</article>
<Article>
    <figure> 
    <img class="images"  src="./images/Avatar2.jpg" alt="Foto Eva">
    <figcaption>Eva Sánchez</figcaption>
    </figure> 
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
</Article>
<article>   
    <figure>  
    <img class="images"  src="./images/Avatar3.png" alt="Foto Francheska">
    <figcaption>Francheska Contreras Garcia</figcaption>
    </figure> 
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
</article>
<article> 
    <figure> 
    <img class="images"  src="./images/Avatar4.png" alt="Virginia">
    <figcaption>Virginia</figcaption>
    </figure>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
</article>
<article>  
    <figure>   
    <img class="images"  src="./images/Avatar5.png" alt="Victoria">
    <figcaption>Victoria Doll</figcaption>  
    </figure>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
</article>        
</section>
</div>