
<div class="container"> 
<section class="about_us">
    <h2 class="about_us_title">Quiénes Somos</h2>
<div class="team_members">    
<article class="team-member">
   <figure>      
    <img class="images"  src="./images/Avatar1.png" alt="Foto Alejandra">
    </figure>
    <div class="memberinfo">
    <p class="name_member">Alejandra Sánchez</p>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
    <li><i class="fa-brands fa-twitter"></i></li>
    <li><i class="fa-brands fa-linkedin-in"></i></li>
    <li><i class="fa-brands fa-github-alt"></i></li>
    <li><i class="fa-solid fa-envelope"></i></li>
    </ul>
</div>    
</article>
<Article class="team-member">
    <figure> 
    <img class="images"  src="./images/Avatar2.png" alt="Foto Eva">
    </figure>
    <div class="memberinfo">
    <p class="name_member">Eva Sánchez</p>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
    </div>         
</Article>
<article class="team-member">   
    <figure class="figure">  
    <img class="images"  src="./images/Avatar3.png" alt="Foto Francheska">
    </figure>
    <div class="memberinfo">
     <p class="name_member">Francheska Contreras Garcia</p>   
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
    </div>     
</article>
<article class="team-member"> 
    <figure class="figure"> 
    <img class="images"  src="./images/Avatar4.png" alt="Virginia">
    </figure>
    <div class="memberinfo">
     <p class="name_member">Virginia Vilchez</p>   
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i><a href="www.linkedin.com/in/virginia-vilchez-torres"></a></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
</article>
<article class="team-member">  
    <figure class="figure">   
    <img class="images"  src="./images/Avatar5.png" alt="Victoria">
    </figure>
    <div class="memberinfo"> 
    <p class="name_member">Victoria Doll</p>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.</p>
    <ul class="social_media">
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
        <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
    </div>
</div>        
</article>        
</section>
</div>