
<section class="about_us">
    <h1>Quiénes Somos</h1>
    <img class="images"  src="./images/Avatar1.jpg" alt="Foto Alejandra">
    Alejandra Sánchez
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea optio neque vero. At, veniam suscipit.
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin-in"></i>
    <i class="fa-brands fa-github-alt"></i>
    <i class="fa-solid fa-envelope"></i>

    
</section>
