
<form  class="formulario_container" action="">
    <label class="form_label" for="nombre">Nombre Completo <span class="asterisco">*</span></label>
    <input class="form_input" type="text" id="nombre" name="nombre" placeholder="Nombre..." required>
    <label class="form_label" for="email">Email <span class="asterisco">*</span></label>
    <input  class="form_input input_email" type="email" id="email" name="email" placeholder="nombre.apellidos@gmail.com" required>
    <label class="form_label" for="telefono">Teléfono</label>
    <input class="form_input" type="tel" id="telefono" name="telefono" placeholder="Ej: 123456789" required>
    <label class="form_label" for="mensaje">Mensaje<span class="asterisco">*</span></label>
    <textarea class="input_mensaje" name="mensaje" placeholder="¿Qué necesitas?" required></textarea>
    <div class="container_boton">
        <input class="boton_enviar" type="submit" id="submit" value="Enviar">
    </div>
</form>