@import './core/reset.scss';
@import './core/variables.scss';
@import './components/nav.scss';
<<<<<<< HEAD
@import 'components/team';
=======
@import './components/about_us.scss'; 
>>>>>>> 26e0e0b09c83ee50b56b1540e400b9b98d0654c5
@import './components/_footer.scss';


:root {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <width>: Use a value from 75 to 100


